body {
    background: linear-gradient(rgb(0, 40, 70) -5%, rgb(255, 115, 115) 80%, rgb(255, 175, 123) 98%);
}

a {
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

p, #remember-me, #sign-up {
    font-size: 10pt;
}

.socials, a:visited {
    margin: 10px;
    color: rgba(255, 255, 255, 0.9);
}

.socials:hover, p {
    color:rgb(0, 40, 70, 0.9);
}

h1 {
    margin: 10px;
    font-size: 50pt;
    transition: all 0.4s;
}


form {
    width: 50vw;
    height: 200px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
}

#username, #password, #reenter-password {
    min-width: fit-content;
    width: 25vw;
    height: auto;
    padding: 10px;
    margin: 5px;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    color: white;
    font-size: 12pt;
    font-weight: 150;
}

#remember-me, #sign-up {
    margin: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

#submit-btn, #register-btn {
    background-color: white;
    border: transparent;
    transition: all 0.2s;
    color: rgb(0, 40, 70);
    outline: none;
    text-align: center;
    min-width: 65px;
    width: 15vw;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 12pt;
    box-shadow: 2px 3px rgb(0, 40, 70);
    font-weight: 200;
}

#submit-btn:hover, h1:hover {
    color: rgb(255, 115, 115);
}

#submit-btn:active {
    transform: translateY(3px);
}

::placeholder {
    color: white;
}